In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_cleaned = application_df.drop(columns=['EIN'])
application_df_cleaned.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df_cleaned_unique = application_df_cleaned.nunique()
application_df_cleaned_unique

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Replace all values in the APPLICATION_TYPE column with "Other"
application_df_cleaned['APPLICATION_TYPE'] = 'Other'

# Verify the changes
print("\nUpdated APPLICATION_TYPE counts:")
print(application_df_cleaned['APPLICATION_TYPE'].value_counts())

Updated APPLICATION_TYPE counts:
APPLICATION_TYPE
Other    34299
Name: count, dtype: int64

In [5]:
# Calculate value counts of application types
value_counts = application_df_cleaned['APPLICATION_TYPE'].value_counts()

# Choose a cutoff value
cutoff_value = 35000

# Create a list of application types to be replaced
application_types_to_replace = value_counts[value_counts < cutoff_value].index.tolist()

# Display the list of application types to be replaced
print("Application types to be replaced:", application_types_to_replace)

# Replace in dataframe using a single replace call
application_df_cleaned['APPLICATION_TYPE'] = application_df_cleaned['APPLICATION_TYPE'].replace(application_types_to_replace, "Other")

# Check to make sure replacement was successful
print(application_df_cleaned['APPLICATION_TYPE'].value_counts())

Application types to be replaced: ['Other']
APPLICATION_TYPE
Other    34299
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
print("Original CLASSIFICATION counts:")
print(application_df_cleaned['CLASSIFICATION'].value_counts())

# Calculate classification value counts
value_counts = application_df_cleaned['CLASSIFICATION'].value_counts()

# Filter to find application types with counts greater than 1
print("List of Classification value counts (greater than 1):")
classification_value_counts = value_counts[value_counts > 1]
print(classification_value_counts)
# Display the total of application types with counts greater than 1
print("Classification value counts (greater than 1):")
print(classification_value_counts.count())

# Replace all values in the CLASSIFICATION column with "Other"
application_df_cleaned['CLASSIFICATION'] = 'Other'

# Verify the changes
print("\nUpdated CLASSIFICATION counts:")
print(application_df_cleaned['CLASSIFICATION'].value_counts())

Original CLASSIFICATION counts:
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
List of Classification value counts (greater than 1):
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64
Classification value counts (greater than 1):
45

Updated CLASSIFICATION counts:
CLASSIFICATION
Other    34299
Name: count, dtype: int64

In [7]:
# Calculate value counts of classifications
value_counts = application_df_cleaned['CLASSIFICATION'].value_counts()

# Choose a cutoff value
cutoff_value = 35000

# Create a list of classifications to be replaced
classifications_to_replace = value_counts[value_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df_cleaned['CLASSIFICATION'] = application_df_cleaned['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure replacement was successful
print("Updated CLASSIFICATION counts:")
print(application_df_cleaned['CLASSIFICATION'].value_counts())

Updated CLASSIFICATION counts:
CLASSIFICATION
Other    34299
Name: count, dtype: int64

In [8]:
# Look at NAME value counts that occur once to identify and replace with "Other"
name_counts = application_df_cleaned['NAME'].value_counts()

# Filter to find names with counts equal to 1
print("List of name counts (equal to 1):")
name_counts_1 = name_counts[name_counts == 1]
print("Names to be replaced:", name_counts_1)

# Replace names that only appear once with "Other"
application_df_cleaned['NAME'] = application_df_cleaned['NAME'].replace(name_counts_1.index, 'OTHER')
application_df_cleaned

List of name counts (equal to 1):
Names to be replaced: NAME
ARTS SCIENCE AND TECHNOLOGY EDUCATIONAL CORPORATION OF TEHACHA          1
UPTE-CWA RETIRED MEMBERS CHAPTER 9119                                   1
WORLD PRESIDENTS ORGANIZATION INC                                       1
HOMELESS ANIMAL RESCUE TEAM                                             1
DREAM WEAVER CHARITABLE TR                                              1
                                                                       ..
ST LOUIS SLAM WOMENS FOOTBALL                                           1
AIESEC ALUMNI IBEROAMERICA CORP                                         1
WEALLBLEEDRED ORG INC                                                   1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI    1
WATERHOUSE CHARITABLE TR                                                1
Name: count, Length: 18776, dtype: int64

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,Other,Independent,Other,ProductDev,Association,1,0,N,5000,1
1,OTHER,Other,Independent,Other,Preservation,Co-operative,1,1-9999,N,108590,1
2,OTHER,Other,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0
3,OTHER,Other,CompanySponsored,Other,Preservation,Trust,1,10000-24999,N,6692,1
4,OTHER,Other,Independent,Other,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,OTHER,Other,Independent,Other,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,Other,CompanySponsored,Other,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,Other,CompanySponsored,Other,Preservation,Association,1,0,N,5000,0
34297,OTHER,Other,Independent,Other,ProductDev,Association,1,0,N,5000,1
34298,OTHER,Other,Independent,Other,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [9]:
# Convert categorical data to numeric with pd.get_dummies
categorical_df_dummies = pd.get_dummies(application_df_cleaned, columns=['APPLICATION_TYPE', 'CLASSIFICATION'], drop_first=True)

# Display the first few rows of the new DataFrame to verify the conversion
categorical_df_dummies.head()

,NAME,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,Independent,ProductDev,Association,1,0,N,5000,1
1,OTHER,Independent,Preservation,Co-operative,1,1-9999,N,108590,1
2,OTHER,CompanySponsored,ProductDev,Association,1,0,N,5000,0
3,OTHER,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1
4,OTHER,Independent,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Split our preprocessed data into our features and target arrays
X = categorical_df_dummies.drop(columns=['IS_SUCCESSFUL'])  # Features
y = categorical_df_dummies['IS_SUCCESSFUL']  # Target variable

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Re-apply one-hot encoding if necessary
X_train_dummies = pd.get_dummies(X_train, drop_first=True)
X_test_dummies = pd.get_dummies(X_test, drop_first=True)

# Align the two DataFrames to ensure they have the same columns
X_train_dummies, X_test_dummies = X_train_dummies.align(X_test_dummies, join='left', axis=1, fill_value=0)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train_dummies)

# Scale the data
X_train_scaled = X_scaler.transform(X_train_dummies)
X_test_scaled = X_scaler.transform(X_test_dummies)

In [12]:
# Determine the number of input features
number_input_features = X_train_scaled.shape[1]
# Define the number of nodes in each hidden layer
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 7
hidden_nodes_layer3 = 3

# Create the Sequential model
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))  # For binary classification

# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Check the structure of the model
nn_model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 10)                             8,050

 dense_1 (Dense)                       (None, 7)                                 77

 dense_2 (Dense)                       (None, 3)                                 24

 dense_3 (Dense)                       (None, 1)                                  4

 Total params: 8,155 (31.86 KB)

 Trainable params: 8,155 (31.86 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
class CustomModelCheckpoint(tf.keras.callbacks.Callback):
    def __init__(self, save_freq):
        super(CustomModelCheckpoint, self).__init__()
        self.save_freq = save_freq

    def on_epoch_end(self, epoch, logs=None):
        if (epoch + 1) % self.save_freq == 0:  # Check if the current epoch is a multiple of save_freq
            self.model.save_weights(f'model_weights_epoch_{epoch + 1:02d}.weights.h5')  # Save weights

# Create an instance of the custom callback
custom_checkpoint_callback = CustomModelCheckpoint(save_freq=5)

In [15]:
# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=50, callbacks=[custom_checkpoint_callback])

Epoch 1/50
858/858  3s 2ms/step - accuracy: 0.6853 - loss: 0.6028
Epoch 2/50
858/858  1s 2ms/step - accuracy: 0.7940 - loss: 0.4700
Epoch 3/50
858/858  2s 2ms/step - accuracy: 0.7997 - loss: 0.4530
Epoch 4/50
858/858  1s 2ms/step - accuracy: 0.8043 - loss: 0.4377
Epoch 5/50
858/858  2s 2ms/step - accuracy: 0.7970 - loss: 0.4368
Epoch 6/50
858/858  2s 3ms/step - accuracy: 0.8028 - loss: 0.4308
Epoch 7/50
858/858  2s 2ms/step - accuracy: 0.8024 - loss: 0.4279
Epoch 8/50
858/858  1s 2ms/step - accuracy: 0.8021 - loss: 0.4266
Epoch 9/50
858/858  1s 2ms/step - accuracy: 0.8016 - loss: 0.4271
Epoch 10/50
858/858  1s 2ms/step - accuracy: 0.7989 - loss: 0.4288
Epoch 11/50
858/858  3s 2ms/step - accuracy: 0.8037 - loss: 0.4250
Epoch 12/50
858/858  3s 2ms/step - accuracy: 0.7979 - loss: 0.4259
Epoch 13/50
858/858  3s 3ms/step - accuracy: 0.8016 - loss: 0.4221
Epoch 14/50
858/858  2s 2ms/step - accuracy: 0.7986 - loss: 0.4222
Epoch 15/50
858/858  2s 2ms/step - accuracy: 0.8004 - loss: 0.4229
Epoch 16/50
858/858  1s 2ms/step - accuracy: 0.8036 - loss: 0.4183
Epoch 17/50
858/858  2s 2ms/step - accuracy: 0.8032 - loss: 0.4196
Epoch 18/50
858/858  3s 2ms/step - accuracy: 0.8057 - loss: 0.4150
Epoch 19/50
858/858  3s 3ms/step - accuracy: 0.7998 - loss: 0.4236
Epoch 20/50
858/858  2s 2ms/step - accuracy: 0.8070 - loss: 0.4133
Epoch 21/50
858/858  2s 2ms/step - accuracy: 0.8027 - loss: 0.4158
Epoch 22/50
858/858  3s 2ms/step - accuracy: 0.8044 - loss: 0.4160
Epoch 23/50
858/858  3s 2ms/step - accuracy: 0.8039 - loss: 0.4136
Epoch 24/50
858/858  3s 2ms/step - accuracy: 0.7993 - loss: 0.4214
Epoch 25/50
858/858  2s 2ms/step - accuracy: 0.8017 - loss: 0.4164
Epoch 26/50
858/858  1s 2ms/step - accuracy: 0.8059 - loss: 0.4135
Epoch 27/50
858/858  2s 2ms/step - accuracy: 0.8025 - loss: 0.4153
Epoch 28/50
858/858  3s 2ms/step - accuracy: 0.8063 - loss: 0.4090
Epoch 29/50
858/858  3s 2ms/step - accuracy: 0.8017 - loss: 0.4172
Epoch 30/50
858/858  3s 3ms/step - accuracy: 0.8023 - loss: 0.4165
Epoch 31/50
858/858  2s 2ms/step - accuracy: 0.8051 - loss: 0.4128
Epoch 32/50
858/858  2s 2ms/step - accuracy: 0.8030 - loss: 0.4192
Epoch 33/50
858/858  3s 2ms/step - accuracy: 0.8057 - loss: 0.4153
Epoch 34/50
858/858  1s 2ms/step - accuracy: 0.8072 - loss: 0.4114
Epoch 35/50
858/858  1s 2ms/step - accuracy: 0.8097 - loss: 0.4086
Epoch 36/50
858/858  1s 2ms/step - accuracy: 0.8025 - loss: 0.4147
Epoch 37/50
858/858  3s 3ms/step - accuracy: 0.8069 - loss: 0.4104
Epoch 38/50
858/858  2s 2ms/step - accuracy: 0.8044 - loss: 0.4134
Epoch 39/50
858/858  2s 2ms/step - accuracy: 0.8057 - loss: 0.4142
Epoch 40/50
858/858  3s 2ms/step - accuracy: 0.8051 - loss: 0.4133
Epoch 41/50
858/858  3s 2ms/step - accuracy: 0.8077 - loss: 0.4066
Epoch 42/50
858/858  2s 2ms/step - accuracy: 0.8103 - loss: 0.4029
Epoch 43/50
858/858  3s 2ms/step - accuracy: 0.8070 - loss: 0.4096
Epoch 44/50
858/858  2s 2ms/step - accuracy: 0.8035 - loss: 0.4121
Epoch 45/50
858/858  1s 2ms/step - accuracy: 0.8063 - loss: 0.4098
Epoch 46/50
858/858  3s 2ms/step - accuracy: 0.8080 - loss: 0.4067
Epoch 47/50
858/858  3s 2ms/step - accuracy: 0.8029 - loss: 0.4112
Epoch 48/50
858/858  1s 2ms/step - accuracy: 0.8044 - loss: 0.4134
Epoch 49/50
858/858  2s 3ms/step - accuracy: 0.8040 - loss: 0.4121
Epoch 50/50
858/858  2s 2ms/step - accuracy: 0.8072 - loss: 0.4077

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)

# Print the results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7886 - loss: 0.4617
Loss: 0.461689293384552, Accuracy: 0.7886297106742859

In [17]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.